app
.pytest_cache
coverage_html
env
__pycache__
.pytest_cache
.vscode
.coverage
htmlcov
.pytest_cache
coverage_html

foodapp/__init__.pyc
foodapp/__init__.pyc
foodapp/__init__.pyc
foodapp/database.pyc
foodapp/api/__init__.pyc
foodapp/api/api.pyc
foodapp/model/__init__.pyc
foodapp/model/order.pyc
foodapp/model/tables.pyc
foodapp/model/users.pyc
foodapp/model/validation.pyc
