<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link rel="icon" href="/static/images/favicon-16x16.png" type="image/gif" sizes="16x16">
</head>

<body onload="getAllOrders()">
    <div class="topnav">
        <div class="topnav-list">
            <ul>
                <li><a href="admin.html"> Home</a></li>
                <li><a href="addItem.html"> Add Menu</a></li>
                <li><a href="addedlist.html"> Menu List</a></li>
                <li><a href="index.html" onclick="logout()" >Log out</a></li>
            </ul>
        </div>
    </div>

    <div class="main" >
        <div class="table" id="user_orders"></div>
    </div>
    <script src="/static/js/getAllOrders.js"></script>
</body>

</html>
